//- TODO
  fix https://everyintro.com/

//- TODO  make this shorter so they preview and convert better
- var problem = "Met a new Prospect?"
- var solution = "Followup Instantly Afterwards"
- var extended = "Never drop a lead or forget to email a business card."
//- UPDATE THIS!
- var myurl = "https://www.everyintro.com/"

doctype html5
html(dir="ltr" lang="en-US")
  head
    <meta charset="utf-8">
    <title>Instant Followups after Events</title>
    <meta name="author" content="David Trejo">
    <meta name="copyright" content="Copyright 2009-2016 David Trejo">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="#{problem} #{solution}. #{extended}">
    - // var myimage = "https://images.unsplash.com/photo-1432821564371-9d3923cd1553?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&h=630&w=1200&fit=crop&txtpad=20&txtalign=center,middle&txtfit=max&txtsize=120&txtlig=1&txtfont=futura%20medium&txtclr=fff&txtshad=10&bm=normal&blend=000&balph=50&txt=Instant%20Followups%20after%20Events"
    //- sandbox https://sandbox.imgix.com/view?url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1432821564371-9d3923cd1553%3Fshad%3D20%26w%3D1200%26chromasub%3D444%26fm%3Dpjpg%26usm%3D20%26h%3D630%26fit%3Dcrop%26exp%3D-10%26mark64%3DaHR0cHM6Ly9hc3NldHMuaW1naXgubmV0L350ZXh0P2g9MzE1JnR4dGNscj1mZmYmdHh0PUV2ZXJ5SW50cm8uY29tJnc9MTIwMCZ0eHRzaXplPTgwJnR4dGxlYWQ9MCZ0eHRwYWQ9MCZ0eHRmb250PWF2ZW5pci1ibGFjayZ0eHRhbGlnbj1jZW50ZXIsYm90dG9t%26markalign%3Dcenter%252Ctop%26txt64%3DTm8gZHJvcHBlZCBsZWFkcyBvciBmb3Jnb3R0ZW4gYnVzaW5lc3MgY2FyZHM%26txtalign%3Dcenter%252Cbottom%26txtclr%3Dfff%26txtsize%3D48%26txtpad%3D105%26blend64%3DaHR0cHM6Ly9hc3NldHMuaW1naXgubmV0L2Jsb2cvYmxvZy1ibGVuZHMucGRmP2ZtPXBuZyZwYWdlPTM%26balph%3D50%26bm%3Dscreen%26bs%3Dinherit
    - var myimage = "https://images.unsplash.com/photo-1432821564371-9d3923cd1553?shad=20&w=1200&chromasub=444&fm=pjpg&usm=20&h=630&fit=crop&exp=-10&mark64=aHR0cHM6Ly9hc3NldHMuaW1naXgubmV0L350ZXh0P2g9MzE1JnR4dGNscj1mZmYmdHh0PUV2ZXJ5SW50cm8uY29tJnc9MTIwMCZ0eHRzaXplPTgwJnR4dGxlYWQ9MCZ0eHRwYWQ9MCZ0eHRmb250PWF2ZW5pci1ibGFjayZ0eHRhbGlnbj1jZW50ZXIsYm90dG9t&markalign=center%2Ctop&txt64=Tm8gZHJvcHBlZCBsZWFkcyBvciBmb3Jnb3R0ZW4gYnVzaW5lc3MgY2FyZHM&txtalign=center%2Cbottom&txtclr=fff&txtsize=48&txtpad=105&blend64=aHR0cHM6Ly9hc3NldHMuaW1naXgubmV0L2Jsb2cvYmxvZy1ibGVuZHMucGRmP2ZtPXBuZyZwYWdlPTM&balph=50&bm=screen&bs=inherit"
    <link rel="canonical" href="#{myurl}">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <!-- for Facebook -->
    meta(property="og:type" content="article")
    meta(property="og:title" content="#{problem}")
    meta(property="og:description" content="#{solution}. #{extended}")
    //- This is an image associated with your media. We suggest that you use an image of at least 1200x630 pixels.
    meta(property="og:image" content="#{myimage}")
    meta(property="og:url" content="#{myurl}")

    <!-- for Twitter -->
    //- via https://dev.twitter.com/cards/types/summary-large-image
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@ddtrejo")
    meta(name="twitter:creator" content="@ddtrejo")
    meta(name="twitter:title" content="#{problem}")
    meta(name="twitter:description" content="#{solution}. #{extended}")
    //- Images for this Card should be at least 280px in width, and at least 150px in height.
    meta(name="twitter:image" content="#{myimage}")

    <link href="style/style.css" rel="stylesheet" type="text/css">
    //- script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85614846-1', 'auto');
      ga('send', 'pageview');

  body.homepage(itemscope="itemscope" itemtype="http://schema.org/WebPage")
    :markdown
      # Never Forget to Followup after In-Person Events

      Have you ever been given a business card and known you **should've** emailed them? But never did?

      You go to conferences and meetups all the time, and exchange contact information with great prospects.
      Then, **you fail to email them after the event**.

      You either lose their email in your inbox, or **their business card sits on your desk forever**.

      Stage two sets in: "Oh, I didn't need that lead anyway. **It's too late to email them now,** I don't care about them."

      ## Effortlessly Followup Immediately after You Meet

      I built EveryIntro to solve my own problem with followups after face-to-face meetings. It enables me to followup immediately after I meet someone, even if it's 1am on hallow's eve.

      ## How Does It Work? Here's an Example

      ### Step 1: Fill out the <span style="border-bottom: 1px dotted;">Dotted Lines</span>
      Imagine you're me, and you've met Jessica. You've already filled out the dotted lines.

    .demo(style="max-width: 640px; margin-left: auto; margin-right:auto;box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);-webkit-user-select: none; cursor: no-drop;")
      .headline(style="background-color:#404040; height: 3rem; line-height: 3rem; padding-left:1rem; color: white;")
        | New Message
      .greybox(style="border: 1px solid #cfcfcf;margin-top:0")
        .subject(style="padding-left:1rem;padding-right:1rem;border-bottom: 1px solid #cfcfcf;min-height: 3rem; line-height: 3rem;")
          | To: <span style="border-bottom: 1px dotted;">jessica@example.com</span>
        .subject(style="margin-top:0;padding-left:1rem;padding-right:1rem;border-bottom: 1px solid #cfcfcf;min-height: 3rem; line-height: 3rem;")
          | Subject: David <> <span style="border-bottom: 1px dotted;">Jessica</span> from <span style="border-bottom: 1px dotted;">Dreamforce</span>
        .emailbody(style="white-space: pre-wrap;padding-left:1rem;padding-right:1rem; padding-bottom:1rem;border-bottom: 1px solid #cfcfcf;")
          | Hey <span style="border-bottom: 1px dotted;">Jessica</span>,
          | &nbsp;
          | It was good meeting you! We were going to talk more about <span style="border-bottom: 1px dotted;">hiring sales engineers</span>. Usually the next step would be <span style="border-bottom: 1px dotted;">to speak on the phone</span>.
          | &nbsp;
          | How does this sound?
          | &nbsp;
          | Best,
          | David Trejo
          | EngineerOverflow.com
          | (555) 555-5555
          | Pick a time: calendly.com/dtrejo
        .tray(style="background-color:#f5f5f5;height: 3rem; line-height: 3rem; padding-left:1rem;margin-top:0rem; padding-top:1rem")
          .button(style="display: inline-block; position: relative; display: -moz-inline-box; display: inline-block; -webkit-border-radius: 2px; border-radius: 2px; font-size: 1rem; font-weight: bold; text-align: center; white-space: nowrap; margin-right: 2rem; height: 2rem; line-height: 2rem; min-width: 2rem; outline: 0; padding: 0 1.5rem; -webkit-box-shadow: none;box-shadow: none;background-color: #4d90fe;background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);background-image: linear-gradient(top,#4d90fe,#4787ed);border: 1px solid #3079ed;color: #fff; vertical-align: middle; -webkit-user-select: none;") Send

    :markdown
      ### Step 2: Hit Send
      Your new lead gets an email that looks like this:

    .demo(style="max-width: 640px; margin-left: auto; margin-right:auto;box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);-webkit-user-select: none; cursor: no-drop;")
      .greybox(style="border: 1px solid #cfcfcf;margin-top:0")
        .subject(style="margin-top:0;padding-left:1rem;padding-right:1rem;border-bottom: 1px solid #cfcfcf;min-height: 3rem; line-height: 3rem;")
          | David <> Jessica from Dreamforce
        .emailbody(style="white-space: pre-wrap;padding-left:1rem;padding-right:1rem; padding-bottom:1rem;border-bottom: 1px solid #cfcfcf;")
          | Hey Jessica,
          | &nbsp;
          | It was good meeting you! We were going to talk more about hiring sales engineers. Usually the next step would be to speak on the phone.
          | &nbsp;
          | How does this sound?
          | &nbsp;
          | Best,
          | David Trejo
          | EngineerOverflow.com
          | (555) 555-5555
          | Pick a time: calendly.com/dtrejo

    :markdown
      Want one of your own? Keep scrolling.

      Yours,<br>
      <em>David Trejo</em><br>
      I make it easy for CTOs to hire Software Engineers<br>
      [EngineerOverflow.com](https://EngineerOverflow.com)<br>
      Software Engineer

    img.testimonial(src="/images/david-trejo.jpeg" alt="David Trejo"
        height="150")

    :markdown
      ## Get Your Invite
      Your first 3 followups are free. Plans start at $60.00 USD/year.

    form#primarycta(action="https://www.getdrip.com/forms/99735204/submissions" method="post" data-drip-embedded-form="99735204")
      :markdown
        Hey David, my name is <input type="text" name="fields[firstname]" value="" placeholder="First Name" />
        <br><br>Send an invite to me at <input type="email" name="fields[email]" value="" placeholder="Email Address" />
        <br><br>
        <input type="submit" name="submit" value="Send Invite Now" class="btn btn-6 btn-6a">

    :markdown
      Your email is safe with me. One-click unsubscribe.
    br
    br
    br
